*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(11, 211, 218);
    color: white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabecalho-imagem{
width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#0a5cdf,#07c7f1);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 40%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
    .estudante-icone{
        width:24px;padding:4px 8px;

    }
    
 .estudante-div{
    text-align: center;
    padding: 16px 0;
 }   


}